In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [2]:
5 + 9 # Operation
# Operators
    # +, - , * , / , %, **
    # = , +=, -=, *=, /=, **=
    # == , <, >, >=, <=, !=
    # and (&) or (|)
    
# 5, 9 # Oprands

14

In [3]:
#PEMDAS
9 + 8 * 2 / 2**2 + (7 -3) * 7
#9 + 8 * 2 / 2**2 + 4 * 7
#9 + 8 * 2 / 4 + 4 * 7
#9 + 8 * 2 / 4 + 4 * 7
#9 + 16 / 4 + 28
#9 + 4 + 28
#41

41.0

In [4]:
#copy types
# Shallow Copy
# Deep Copy

a = 20
b = 20

print(a)
print(b)

print(id(a))
print(id(b))

20
20
140728692872608
140728692872608

In [5]:
a = list("pakistan")
b = a.copy()

print(a)
print(b)

print(id(a))
print(id(b))

['p', 'a', 'k', 'i', 's', 't', 'a', 'n']
['p', 'a', 'k', 'i', 's', 't', 'a', 'n']
1899144601928
1899143767304

In [6]:
a = 20
print(a)
print(type(a))

20
<class 'int'>

In [7]:
a = 11 // 3 # floor Division
print(a)
print(type(a))

3
<class 'int'>

In [8]:

a = 20.8
print(a)
print(type(a))

20.8
<class 'float'>

In [9]:
a = 8 / 8
print(a)
print(type(a))

1.0
<class 'float'>

In [10]:

a = True
print(a)
print(type(a))

True
<class 'bool'>

In [11]:

a = False
print(a)
print(type(a))

False
<class 'bool'>

In [13]:


a = "20"
print(a)
print(type(a))

20
<class 'str'>

In [14]:

a = '1'
print(a)
print(type(a))

1
<class 'str'>

In [15]:
a = """20.7"""
print(a)
print(type(a))

20.7
<class 'str'>

In [16]:
a = '''78'''
print(a)
print(type(a))

78
<class 'str'>

In [17]:
#Index    0       1       2      3     4
names = ["Ali","Hamza","Junaid",200, True] #List[Element,Element]
#Index     -5    -4      -3      -2   -1

print(names)
print(names[-1])   #list[indexNumber]
print(type(names))

['Ali', 'Hamza', 'Junaid', 200, True]
True
<class 'list'>

In [18]:
#Index    0       1       2      3     4
names = ("Ali","Hamza","Junaid",200, True) #tuple[Element,Element]
#Index     -5    -4      -3      -2   -1

print(names)
print(names[-1])   #list[indexNumber]
print(type(names))

('Ali', 'Hamza', 'Junaid', 200, True)
True
<class 'tuple'>

In [19]:
names = {"Ali","Hamza","Ali","Hamza","Rashid"} #set
names

{'Ali', 'Hamza', 'Rashid'}

In [21]:
# Type Casting
names = {"Ali","Hamza","Ali","Hamza","Rashid"} #set
names = list(names)
names[0]

'Ali'

In [22]:
#Index    0       1       2      3     4
names = ("Ali","Hamza","Junaid",200, True) #tuple[Element,Element]
#Index     -5    -4      -3      -2   -1

print(names)
print(names[-1])   #list[indexNumber]
print(type(names))

('Ali', 'Hamza', 'Junaid', 200, True)
True
<class 'tuple'>

In [23]:
# {
# key0: value1,
# key1: value1, 
# key2:value2
# }

# key hashable data type
# value any data types


data = {
    "name":"Muhammad Qasim",
    "fname":"Muhammad Aslam",
    "fee":500,
    "education":['Matric',"Intermediate","BSCS","DSCS"],
    5: "Pakistan",
    'a' : 2000
}

print(data[5])

Pakistan

In [24]:
a = 20
print(type(a))
a = float(a)
print(type(a))
a = str(a)
print(type(a))
a = list(a)
print(type(a))
a = set(a)
print(type(a))
a = bool(a)
print(type(a))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'set'>
<class 'bool'>

In [25]:
a = 28.9
int(a)

28

In [26]:
a = "Pakistan zinda bad"
print(a[::])
print(a[::-1])
print(a[1:3:])
print(a[0:9:] + a[-3:])

Pakistan zinda bad
dab adniz natsikaP
ak
Pakistan bad

In [27]:
a = "MUhammAd Qasim"
dir(a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']